/*
*页面的高级搜索全局样式
*/
.router-slid-enter-active,
.router-slid-leave-active {
    transition: all 0.3s;
}

.router-slid-enter,
.router-slid-leave-active {
    transform: translate3d(0, 3rem, 0);
    opacity: 0;
}

// ant-advanced-search-form marg_b ant-form ant-form-horizontal
.ant-advanced-search-form.ant-form {
    padding: 6px 24px;
    background: #fff;
    border-radius: 6px;
    /* box-shadow: 0px 2px 0px rgb(243, 243, 243); */
}

.ant-advanced-search-form .ant-form-item {
    display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
}

#components-form-demo-advanced-search {
    max-width: none;
    /* box-shadow: 0px 2px 0px rgb(243, 243, 243); */
    /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 -2px 8px rgb(236, 236, 236), 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;

    &.unset {
        box-shadow: none;
    }
}

.Collapse {
    padding: 20px;
    background-color: rgba(231, 233, 245, 0.6);
}

// 全局样式，已经覆盖antd的默认样式，但没有保证每个页面的特殊性
#components-form-demo-advanced-search .ant-form-item-label {
    text-align: left;
    margin-right: 3px;
}

// .ant-form-item.ant-form-item-no-colon{
//     display: flex;
//     flex-flow: row wrap;
//     align-items: center;
// }
#app,
.edit-modal {
    .ant-form-item-label {
        text-align: left;
        white-space: normal;
        line-height: normal;
        min-height: 40px;
        height: 40px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        overflow: visible;
        label {
            white-space: normal;
            word-break: break-all;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            width:100%;
            position: relative;
        }
        .ant-form-item-required:before{
            margin-right: 0;
            display: inline;
            position: absolute;
            top:2px;
            left:-7px;
        }
    }
}


.collapsible {
    cursor: pointer;
    width: 100%;
    padding: 0;
    text-align: center;
    color: rgb(92, 180, 231);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: -1;

    span {
        display: inline-block;
        width: 6.1%;
        height: 18px;
        line-height: 18px;
        background-color: rgb(62, 119, 216);
        color: #fff;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        font-weight: 600;

        &:hover {
            opacity: 0.8;
        }
    }
}

#components-form-demo-advanced-search .ant-advanced-search-form .ant-form-item {
    margin-bottom: 0px;
}

.ant-calendar-picker {
    width: 100%;
}